  /* Pricing Table Section
--------------------------------*/

#pricing .block-pricing {
    background: #fff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    position: relative;
    width: 100%;
}

@media (max-width: 991px) {
    #pricing .block-pricing {
        margin-bottom: 30px;
    }
}

#pricing .block-pricing .table {
    margin-bottom: 0;
    padding: 30px 15px;
    max-width: 100%;
    width: 100%;
}

#pricing .block-pricing .table h4 {
    padding-bottom: 30px;
}

#pricing .block-pricing h2 {
    margin-bottom: 30px;
}

#pricing .block-pricing ul {
    list-style: outside none none;
    margin: 10px auto;
    max-width: 240px;
    padding: 0;
}

#pricing .block-pricing ul li {
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    padding: 12px 0;
    text-align: center;
}

#pricing .block-pricing ul li b {
    color: #3c4857;
}

#pricing .block-pricing .table .table_btn a {
    background: #71c55d;
    color: #fff;
    margin: 0;
    display: inline-block;
}

#pricing .block-pricing .table .table_btn a:hover {
    background: #55b03f;
}

#pricing .block-pricing .table .table_btn a .fa {
    font-size: 13px;
    margin-right: 5px;
}
/* Blog Section
--------------------------------*/